:root{
  --ligth-brown-color:  #b6a58c;
  --dark-brown-color: #6e4e24;
  --ligth-grey-color:	#E0E0E0;
  --dark-grey-color:	#707070;
  --normal-text-font: Arial, Helvetica, sans-serif;
  --Logo-font: 'Times New Roman', Times, serif;
}